.react-calendar { 
    border-radius: 1em;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 15px;
   }

   /* Genral Top buttons & Month*/
.react-calendar__navigation button {
    color: #6f48eb;

   }
/* Selected Day & Hovering Day*/
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
   }

   /* Just Selceted button */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }


/* Each individual day button*/
.react-calendar__month-view__days__day{
    font-weight: bolder;
    padding: 1.5em;
    border-radius: 10px;
}

/* Each individual Day Title ( Mon, Tue, Wed...)*/
.react-calendar__month-view__weekdays__weekday{
    font-weight: bolder;
}

   /* Todays Day & Month*/
.react-calendar__tile--now {
    color: rgb(156, 153, 153);
    background-color: #f6f6f6;
    font-weight: bold;
   }

.availableTime {
    display: flex;
    justify-content: space-between;
    
} 

.availableTime button{
    text-align: center;
    background-color: #af99fa;
    border-radius: 1em;
} 


.react-calendar__tile--active{
    background: #6f48eb;
    color: white;
}

.react-calendar__month-view__days__day--weekend{
color: red;
}

.react-calendar__month-view__days__day--neighboringMonth{
    border-radius: 0%;
    color:rgb(86, 86, 86);
    background-color: #8f82b8;
}